.container {
  background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/IN-Events/Shankhadip/JAN_ART26/MAY26_PC_Static_Sale-is-live-ET_NP_2x._CB762982954_.jpg');
    background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}